body {
	
	
	margin: 0;
	padding: 0;
	background-color: #363636;
  
}


.trial{
	
	left:0;
	top: 0;
	height: 100%;
	min-width: 350px;
	position:absolute;
	z-index: 5;
	display: inline-block;
 	color: #ffffff;
  	background-color: rgba(54, 54, 54, 0.75);
    overflow: auto;
}

.side-bar-menu::-webkit-scrollbar{
	width: 0px;
}

#canvas-parent{
	width: 75px;
	height:100px;
	top:0;
	left:25%;	
	position:absolute;
	overflow: hidden;
	

}

.canvas-parent-data-mode{
	width:400px;
	height:500px;
	bottom:0;
	left:0;
	position: absolute;
	overflow: hidden;
}

#canavas{
	position: absolute;
	z-index: 1;
	height: 100px;
	width: 100%;
	overflow: hidden;
	
}

.side-bar-container{
	position:absolute;
	min-width: 21.5%;
	background-color: #e4644b;
	left: 4.5%;
	height: 100%;
	top:0;
	overflow:hidden;
}
.side-bar-menu{
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #e4644b;
	margin: 0;
	padding: 0;
	z-index: 1;
	left: 0;
	display: inline-block;
	overflow: auto;
	color: #ffffff;

}

.side-bar-tabs, .side-bar-tabs-selected{
	position: absolute;
	width: 4.5%;
	left:0;
	top:0;
	height: 100%;
	background-color: #363636;
	opacity: 1;
	z-index: 5;
	border-right: white;
	border-right-style: solid;
	border-right-width:1px;
	overflow: hidden;
}

.selected{
	background-color: #636363;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

ul{
    list-style-type: none;
    
    
    padding:0;
}



.side-bar-tabs li{
	margin-bottom:15px;
}


.side-bar-tab-img{
	position: relative;
	width: 40px;
	margin:8px;
	cursor: pointer;
	left:0px;
}

.scene-tree, .areas-list, .view-states-list, .custom-view-states-list{
	position: absolute;
	
	min-width:100%;
	left:0;
	min-height:100%;
	z-index:4;
	margin:0;
	padding: 0;
	
	display: inline-block;
	overflow:auto;
}

.scene-tree-cell, .scene-tree-cell-sub, .scene-tree-cell-headder, .scene-tree-cell-search{
	position: relative;
	height:50px;
	width: 100%;
	cursor: pointer;
	border-bottom: rgba(54, 54, 54, .3);
	border-bottom-style: solid;
	border-bottom-width:1px;
	top:0px;
}

.scene-tree-cell-headder{
	text-align: center;	
}

#scene-tree-search-icon{
	width: 25px;
    position: absolute;
    top: 12px;
    right: 20px;
}


.expander{
	position:relative;
	width:20px;
	top:30%;
	left:5%;
}

.expander-triangle{
	position:absolute;
	width:20px;
	top:100%;
	left:5%;
	z-index: 10;
}

.expander-triangle-sub{
	
	left:10%;
	
}

.scene-tree-cell-sub .expander{
	left:10%;
}

.scene-tree-cell p,  .scene-tree-cell-headder p, .scene-tree-cell-sub p, .scene-tree-cell-search p{
	position: relative;
    display: inline;
    font-family: "PT Sans";
    color: white;
    font-size: 1em;
    top: 16px;
    left: 30px;
	
}

.scene-tree-name-container{

    width: 85%;
    left: 0;
    height: 100%;
}

.scene-tree-cell-sub p{
	left: 40px;
}

.scene-tree-cell-sub{
	background-color: #363636;

	width:100%;
	border-bottom: rgba(250, 250, 250, .3);
	border-bottom-style: solid;
	border-bottom-width:1px;
}

.selected-cell{
	background-color: #DCD7DC !important;
	color: #363636 !important;
}



.areas-list li{

	/* by default hide all sub menus */
	/*display:none;*/
}



.-hidden{
	display: none;
}

.scene-tree-cell-headder p{
	font-size: 1.5em;
	top:10px;
	left:0;
	

}


.areas-list-item{
	position: relative;
	height:160px;
	width: 100%;
	cursor: pointer;
	border-bottom: rgba(54, 54, 54, .3);
	border-bottom-style: solid;
	border-bottom-width:1px;
	top:0px;
}

.areas-list-item p{
	font-size: 1.1em;
	text-align: center;
	font-family: "PT Sans";
	margin:0;
	top: 135px;	
	position: relative;
}

.areas-list-img{

	position: absolute;
    width: 150px;    
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 18px;
}


.tabs-menu{
	position: absolute;
	width: 1000px;
	height: 75px;
	z-index: 20;
	background-color: #282828;
	bottom: 10px;
	left:455px;
	border-radius: 15px;
	opacity: .9;
	text-align: center;
}

.tabs-menu .btn-group{
	width: 100%;
	height:100%;
}

.tabs-menu .btn{
	width: 10%;
	height: 100%;
	font-size: .8em;
	margin-left: 3%;
	text-align: center;
	background-color: #282828;
	border-color: #282828
}

.tabs-menu .btn .active{
	border-color: green;
}

.tabs-menu img{
	display: block;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 2%;
}


/*

.tabs-menu ul{
	
    position: absolute;
    left: 15%;
    height:100%;
}
.tabs-menu li{
	height:100%;
	width:75px;
	display: inline-block;
    list-style-top: none;
    margin-left: 100px;
    cursor: pointer;
    text-align: center;
    padding-top: 1%;
    border-radius: 4px;
}

.tabs-menu img{

	width:40px;
}

.tabs-menu span{
	color: white;
    display: block;
}

.tabs-menu li:hover{
	text-align: center;
	background-color: #000;
  	box-shadow: 0 0 2px 2px #000;
}
*/

.context-menu{
	padding-left: 200px;
	vertical-align: top;
	position: relative;
	text-align: center;
	
	

}

.context-menu-item{
	width:85px;
	height: 100%;
	float:left;
	margin:0 auto;
	display:inline-block;
	margin-left: 80px;
}

.context-menu-item:hover, {
	background-color: #000;
  	box-shadow: 0 0 5px 3px #000;
}

.context-menu img{
	width:40px;
	position: relative;
	margin-top: 5px;
	
}

.context-menu span, .tools-menu-item span{
	margin:0 auto;
	width: 100%
	top:-5px;
	color: white;
	font-size: .85em;
	text-align: center;
	font-family: "PT Sans";
	white-space: nowrap;
	display:block;
}

.tools-menu{
	background-color: rgba(102,102,102,.5);
    position: absolute;
    width: 85px;
    height: 400px;
    z-index: 5;
    top: 50px;
    right: 30px;
    padding-top: 10px;
}

.tools-menu-item{
	
	width:77%;
	height:70px;
	margin-top:6px;
	margin-left: 10%;


}

.tools-menu-item img{
	width:75%;
	margin-left:12.5%;
	margin-bottom:0;
}

.tools-menu-item span{

}

.tools-menu-item.clicked{
	background-color: #000;
  	box-shadow: 0 0 5px 3px #000;
}

.default-views-menu{
	background-color: rgba(102,102,102,.5);
	position: absolute;
	width:85px;
	height: 463px;
	z-index: 5;
	bottom:0px;
	right:100px;
}

#views-menu-expander{
	position: relative;
	transform: rotate(90deg);
	width:25px;
	right: -80px;
	bottom:45px;
}



.side-bar-button , .view-settings-button{
	background-color: #c9c9c9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #8f8f8f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 22px;
    text-decoration: none;
    text-shadow: 0px 0px 27px #454545;
    margin-left: 90px;
    margin-top: 5px;
}


.side-bar-button:hover, .view-settings-button:hover{
	background-color:#5e5e5e;
}
.side-bar-button:active, .view-settings-button:active{
	position:relative;
	top:1px;
}

.side-bar-button-container{
	text-align: center;
}


#view-settings-cancel-button{
	background-color: #8f8f8f;
}

.cvs-settings-button{
	width:20px;
	position: absolute;
	right: 1px;
	top:1px;
}


.view-settings-popup{
	font-size: 1em;
	color: white;
	text-align: center;
	font-family: "PT Sans";
	position: absolute;
	width:250px;
	height:400px;
	left:900px;
	top: 100px;
	border: 2px white solid;
	border-radius:8px;
	background-color: #E4644B;

}



#new-view-state-button{
	margin-top:7px;
}
.areas-list-play-img{
	width: 70px;
    position: absolute;
    left: 40%;
    top: 25%;
    opacity: .9;
    pointer-events:none;
}

.hide-node-icon{
	position: absolute;
    width: 25px;
    top: 15px;
    right: 15px;
}

#scene-tree-search-form{
	top: 7px;
    position: absolute;
    left: 20%;
    width: 65%;
}

/*#scene-tree-search-input{
	position: absolute;
	left:65px;
	width:200px;
	height:20px;
	border: none;
	border-radius: 3px;
	padding-left: 5px;
}*/

.search-close-icon{
	width: 20px;
    position: absolute;
    right: 15px;
    top: 14px;
}

.edit-view-settings-button{
	width: 35%;
    display: block;
    margin-bottom: 2%;
    margin-left: 32.5%;
    margin-top: 2%;
    position: relative;

}

#edit-view-settings-button-container{
	position: absolute;
    height: 100%;   
    width: 100%;
    padding-top: 5%;
}

#edit-view-close-button{
	margin-right: 5px;
}


.context-3D-menu{
	/*left:900px;*/
	position: absolute;
}

.context-3D-menu .button-icon{
	width:50px;
}

.context-3D-menu .btn{
	background-color: #4be4b1;
	width: 102px;
}

.context-3D-menu .button-title{
	display:block;
}

.context-3D-menu .triangle{
	width: 30px;
    position: absolute;
    top: 84px;
    left: 4px;
}

.data-container{
	width:76%;
	height:100%;
	left:24%;
	background-color: #363636;
	position: absolute;
}

.swipe-context-menu .btn{
    width: 33.3%;
    background-color: #4be4b1;
    height: 100%;
    
    
}

.swipe-context-menu, .swipe-context-menu .btn-group{
	width: 100%;
	height: 100%;
}

.swipe-context-menu img{
	width:25px;
}

.swipe-context-menu span{
	font-size: .8em;
	display: block;
}

#video-mode{
	background-color: orange;
    width: 1000px;
    height: 650px;
    position: absolute;
    left: 600px;
}


#video-container{
	width: 90%;
    height: 90%;
    left: 800px;
    /* position: absolute; */
    background-color: blue;
    margin-left: 5%;
    margin-top: 3%;

}

.loading-screen{
	width: 100%;
	height:100%;
	background-color: #363636;
}

#loading-contents{
	position: relative;
	text-align: center;
	color: white;
	padding-top: 100px; 

}

#loading-contents h2{
	position: relative;
	top:155px;
	color: white;

}

#loading-contents img{
	position: absolute;
	width:150px;
	left:0;
	right:0;
	margin: auto;
}

.mini-3d-button{
	position: absolute;
  	z-index: 500;
  	bottom: 1%;
  	right: 1%;
  	background-color: rgba(10,10,10,.5);
}

.mini-3d-button img{
	width:30px;
}

.project{
	position: relative;
	display: inline-block;
	width: 20%;
	height:400px;
	margin-right:2.5%;
	margin-left:2.5%;
}

.project .panel-body{
	height:100%;
	text-align: center;

}

.project button{
	position: relative;
	top:140px;
}

.ptoject img{
	width:60px;
}

#project_01{
	width:250px;
}


.pdf-render{
	width: 74%;
  	padding: 0;
  	margin-left: 1%;
  	height: 100%;
  	border: none;
}




    







