/*Color Variables*/
$red: #E4644B;
$red-light: #E59B8E;
$white-icon: #FDFDFD;
$grey-dark: #363636;
$grey-dark-b: #202532;
$grey-dark-c: #141313;
$grey-dark-d: #262626;
$grey-hover: #636363;
$grey-hover-b: #727272;
$grey-border: #434A5B;
$grey-light: #EFEFEF;
$blue: #30384B;
$black: #141313;
$super-green: #4BE3B0;





