@media(max-width:767px){

}

@media(min-width:768px){
	.project button {
		margin-top: 5%;
	}
}

@media(min-width:992px){
	.project button {
		margin-top: 5%;
	}
}

@media(min-width:1200px){
	.project button {
		margin-top: 10%;
	}
}
